@import 'tailwindcss';

@config "../tailwind.config.js";

/* Suaviza los números del input en iOS */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { 
  -moz-appearance: textfield; 
}